# Configurações do Servidor
PORTA=3000

# Segurança e Autenticação
# Gere uma string aleatória para a chave secreta
CHAVE_SECRETA_JWT=sua_chave_secreta_aqui

# Banco de Dados (MongoDB Atlas)
# Substitua os valores abaixo pela sua URL do Atlas
# Exemplo: mongodb+srv://usuario:senha@cluster.mongodb.net/nome_do_banco
MONGO_URL=mongodb+srv://USUARIO:SENHA@SEU_CLUSTER.mongodb.net/NOME_DO_BANCO?retryWrites=true&w=majority